/*
Theme Name: Multiple Business Child
Theme URI: https://keonthemes.com/downloads/multiple-business
Template: multiple-business
Author: Keon Themes
Author URI: https://keonthemes.com
Description: Multiple Business is a clean, elegant and responsive theme that suitable for both corporate and creative businesses. Multiple Business WordPress theme is build with unique and modern design. With full Gutenberg and Classic editor compatibility, you can now embrace the future of WordPress with Multiple Business. Multiple Business includes stunning features like One-click demo import, WooCommerce compatibility, translation ready, child theme ready, cross-browser compatibility, right-to-Left language support, multiple header layouts, multiple footer layouts, sidebar layout options, post layout options, single page layout options, custom page templates, bootstrap 4, thin font icons, google font, unlimited color options and many more. Demo: https://keonthemes.com/theme-demo/?id=MzM3NnxtdWx0aXBsZS1idXNpbmVzc3xNdWx0aXBsZSBCdXNpbmVzcw=
Tags: blog,education,portfolio,grid-Layout,two-columns,flexible-header,left-sidebar,right-sidebar,custom-background,custom-colors,custom-header,custom-logo,custom-menu,featured-images,full-width-template,post-formats,rtl-language-support,theme-options,sticky-post,threaded-comments,translation-ready
Version: 1.1.4.1621448973
Updated: 2021-05-19 18:29:33

*/

.main-form-error {
	color: red;
}

.loginFormError {
	display: none;
}

.formResetEmailResponse {
	padding-bottom: 15px;
}

.formResetResponse {
  	display: block;
    text-align: center;
    padding-top: 15px;
}

.formResetEmailGap {
	margin-bottom: 40px;
}


/* Checker Page <<<< start */

/*.keyword-result__table.table {
	margin-bottom: 0;
	color: #545454;
	border: none;
}

.keyword-result__table.table tr th.sorted {
	background-color: #f7f7f7;
}

.keyword-result__table.table tr th {
	color: #545454;
}

table thead tr {
	background-color: #fff;
}


.keyword-result__table.table tr th:first-of-type {
	width: 20%;
}


.keyword-result__table.table td, .keyword-result__table.table th {
	border-width: 2px;
	border-style: dashed;
}

.keyword-result__table.table thead {
	border-bottom: 3px solid #dee2e6;
}

.keyword-result__table.table tr td:first-child, .keyword-result__table.table tr th:first-child {
	border-left: 0;
}*/


h2 {
	color: #545454;
}

.checker_block h2 {
	margin-top: 0;
}

.keyword-result__info {
	background-color: #3EA36B!important;
}


.keyword-result__table.table {
	margin-bottom: 0;
	color: #545454;
	border: none;
}
.keyword-result__table.table td,
.keyword-result__table.table th {
	/*border-width: 2px;*/
	/*border-style: dashed;*/


	/*border-width: 2px;*/
	/* border-style: dashed; */

	/*border-bottom: solid;
	border-left: dashed;
	border-color: rgb(222, 226, 230);*/
}

.keyword-result__table.table thead {
	/*border-bottom: 3px solid #dee2e6;*/
}

.keyword-result__table.table thead,
.keyword-result__table.table tbody,
.keyword-result__table.table tr,
.keyword-result__table.table td,
.keyword-result__table.table tr th {
	border: none;
}

.keyword-result__table.table tr td,
.keyword-result__table.table tr th {
	border-left: 2px dashed rgb(222, 226, 230);
}

.keyword-result__table.table thead th {
	border-bottom: 3px solid #dee2e6!important;
}

.keyword-result__table.table tr th {
	border-top: 0;
	color: #545454;
}
.keyword-result__table.table tbody tr:last-child th,
.keyword-result__table.table tr:last-child td {
	border-bottom: 0;
}
.keyword-result__table.table tr td:first-child,
.keyword-result__table.table tr th:first-child {
	border-left: 0;
}
.keyword-result__table.table tr td:last-child,
.keyword-result__table.table tr th:last-child {
	border-right: 0;
}
.keyword-result__table.table tr th:first-of-type {
	width: 20%;
}
.keyword-result__table.table tbody tr th {
	font-weight: 400;
}
.keyword-result__table.table tr td,
.keyword-result__table.table tr th {
	vertical-align: middle;
}
.keyword-result__table.table tr th.sorted {
	background-color: #f7f7f7;
}
.keyword-result__table.table tr th.sorted i {
	display: inline-block;
	padding: 0 15px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	color: #0a854e;
}
.keyword-result__table.table tr th.sorted.sorted--asc i {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.keyword-result__table i.fas.fa-desktop,
.keyword-result__table i.fas.fa-mobile-alt {
	display: inline-block;
	width: 100%;
	vertical-align: top;
	font-size: 26px;
}

table thead tr {
	background-color: #fff;
}




.email__logo {
	border-bottom: 1px solid #545454;
}
.email__link {
	border: 2px solid #dee2e6;
}
#timer .timer__circle {
	position: relative;
}
#timer .timer__load {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	width: 180px;
	height: 180px;
	margin: auto;
}
#timer .timer__load-svg {
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	animation-timing-function: linear;
	stroke-dasharray: 502;
	stroke-dashoffset: 0;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
#timer .timer__time {
	position: absolute;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
}
#timer .timer__time-data {
	margin: auto;
}
#timer #time {
	color: #545454;
	font-family: "Open Sans", sans-serif;
	font-size: 48px;
	font-weight: 700;
	line-height: 1;
}
#timer .timer__time-data span {
	color: #454545;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: 700;
}
@-webkit-keyframes rot {
	100% {
		stroke-dashoffset: 502;
	}
}
@-moz-keyframes rot {
	100% {
		stroke-dashoffset: 502;
	}
}
@-o-keyframes rot {
	100% {
		stroke-dashoffset: 502;
	}
}
@keyframes rot {
	100% {
		stroke-dashoffset: 502;
	}
}




.hentry {
	 margin: 0;
}

.bg-secondary {
	background-color: #f7f7f7!important;
}

#updates-section {
	position: relative;
	z-index: 1;
}

#updates-section::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: -2500px;
	width: 25000px;
	background-color: #f7f7f7;
	z-index: -1;
}
/* Checker Page >>>> end */